// Colors
$yellow:#ECE74E;
$gold:#C3672C;

// BG Gradients
@mixin bg-gradient-1 {
    @include gradient-x($start-color: $yellow, $end-color: $gold, $start-percent: 0%, $end-percent: 100%);
}

[class*='-primary'] {
    color: color-yiq($dark);
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

// Header
header {
    background-color: #fff;
    padding: .5rem 0;
    box-shadow: $box-shadow-sm;

    @include media-breakpoint-up(lg) {
        @include bg-gradient-1;
    }

    @include media-breakpoint-down(md) {
        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 25px;
            @include bg-gradient-1;
        }
    }

    * {
        position: relative;
    }
}

// Footer
footer {
    @include bg-gradient-1;
    padding: 2.5rem 0 .5rem;
    margin-top: auto;
}

// Banner
.container-banner {
    @include media-breakpoint-down(sm) {
        padding-left: unset;
        padding-right: unset;
    }
}

// Card
.card {
    @include media-breakpoint-down(xs) {
        &-body {
            padding: .75rem;
        }
    }
}

// .card-insurance
.card-insurance {
    border-radius: 2.5rem;

    img {
        width: 100%;
        height: 6rem;
        object-fit: contain;
        margin: 0 auto;
    }
}

.table {
    tbody {
        tr:not([class]) {

            th,
            td {
                position: relative;
                border: unset;

                &::before {
                    content: '';
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    width: calc(100% - .5rem);
                    height: calc(100% - .5rem);
                    border: 1px solid $gray-400;
                    margin: auto;
                }
            }
        }
    }
}

// insurance-type
.insurance-type {
    .card {
        margin-bottom: 1.5rem;

        &-header {
            display: flex;
            align-items: center;
            padding: .5rem;
            background-color: unset;

            &-img {
                width: 2.5rem;
                height: 2.5rem;
                margin-right: .25rem;

                img {
                    width: 100%;
                    height: auto;
                }
            }

            &-text {
                border-left: 1px solid $gray-200;
                margin-bottom: 0;
                padding-left: .25rem;
            }
        }

        &-body {
            &+.card-body {
                border-top: $card-border-width solid $card-border-color;
            }

            &-img {
                width: 5rem;
                height: 5rem;
                border-radius: 1rem;
                padding: .5rem;
                background-color: $primary;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 0 auto .75rem;
                box-shadow: $box-shadow-sm;

                img {
                    width: 100%;
                    height: auto;
                }
            }

            &-title {
                text-align: center;

                h6 {
                    margin-bottom: 0;
                }

                h1 {
                    color: darken($yellow, 15%);

                    small {
                        color: $body-color;
                        font-size: 60%;
                        font-weight: 500;
                    }
                }
            }

            dl {
                margin-bottom: 0;

                dd {
                    text-align: right;

                    &:last-child {
                        margin-bottom: 0;
                    }
                }
            }
        }

        details {

            &+details {
                border-top: 1px solid white;
            }

            summary {
                font-size: 1.25rem;
                color: white;
                background-color: $primary;
                padding: .5rem .75rem;

                &:focus {
                    outline: unset;
                }

                &::-webkit-details-marker {
                    float: right;
                    margin-top: .5rem;
                    margin-right: 0;
                }
            }

            @include media-breakpoint-up(lg) {
                display: none;
            }
        }
    }
}