@font-face {
    font-family: "DB Helvethaica";
    src: url("../fonts/DB_Helvethaica_Bold.ttf");
    font-weight: 700;
}

@font-face {
    font-family: "DB Helvethaica";
    src: url("../fonts/DB_Helvethaica_Light.ttf");
    font-weight: 300;
}

@font-face {
    font-family: "DB Helvethaica";
    src: url("../fonts/DB_Helvethaica_Medium.ttf");
    font-weight: 400;
}

@font-face {
    font-family: "DB Helvethaica";
    src: url("../fonts/DB_Helvethaica_Regular.ttf");
    font-weight: 500;
}